#### This notebook has information and examples for using the nba api.  This reqires the use of the requests and numpy packages to be installed.

In [ ]:
from nba_api.stats.static import players

# Find players by full name.
players.find_players_by_full_name('')

# Find players by first name.
players.find_players_by_first_name('')

# Find players by last name.
players.find_players_by_last_name('')

# Get all players.
players.get_players()

In [ ]:
# Returns the raw response of the request.
.get_response()

# Returns all data in a JSON string.
.get_json()

# Returns all data in a dictionary.
.get_dict()

# Returns all data in a normalized JSON string.
.get_normalized_json()

# Returns all data in a normalized dictionary.
.get_normalized_dict()

# Returns a list of all data in a pandas DataFrame structure.
.get_data_frames()

In [ ]:
## official nba stats
from nba_api.stats.endpoints import playercareerstats

# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='203999') 

# pandas data frames (optional: pip install pandas)
career.get_data_frames()[0]

# json
career.get_json()

# dictionary
career.get_dict()

In [ ]:
## nba live data
from nba_api.live.nba.endpoints import scoreboard

# Today's Score Board
games = scoreboard.ScoreBoard()

# json
games.get_json()

# dictionary
games.get_dict()

In [3]:
#get a player's ID
from nba_api.stats.static import players
#Find players by full name
players.find_players_by_full_name('Michael Jordan')

[{'id': 893,
  'full_name': 'Michael Jordan',
  'first_name': 'Michael',
  'last_name': 'Jordan',
  'is_active': False}]

In [4]:
#get career data for Michael Jordan
career=playercareerstats.PlayerCareerStats(player_id='893')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,893,1984-85,00,1610612741,CHI,22.0,82,82,3144,837,...,0.845,167,367,534,481,196,69,291,285,2313
1,893,1985-86,00,1610612741,CHI,23.0,18,7,451,150,...,0.840,23,41,64,53,37,21,45,46,408
2,893,1986-87,00,1610612741,CHI,24.0,82,82,3281,1098,...,0.857,166,264,430,377,236,125,272,237,3041
3,893,1987-88,00,1610612741,CHI,25.0,82,82,3311,1069,...,0.841,139,310,449,485,259,131,252,270,2868
4,893,1988-89,00,1610612741,CHI,26.0,81,81,3255,966,...,0.850,149,503,652,650,234,65,290,247,2633
5,893,1989-90,00,1610612741,CHI,27.0,82,82,3197,1034,...,0.848,143,422,565,519,227,54,247,241,2753
6,893,1990-91,00,1610612741,CHI,28.0,82,82,3034,990,...,0.851,118,374,492,453,223,83,202,229,2580
7,893,1991-92,00,1610612741,CHI,29.0,80,80,3102,943,...,0.832,91,420,511,489,182,75,200,201,2404
8,893,1992-93,00,1610612741,CHI,30.0,78,78,3067,992,...,0.837,135,387,522,428,221,61,207,188,2541
9,893,1994-95,00,1610612741,CHI,32.0,17,17,668,166,...,0.801,25,92,117,90,30,13,35,47,457
10,893,1995-96,00,1610612741,CHI,33.0,82,82,3090,916,...,0.834,148,395,543,352,180,42,197,195,2491
11,893,1996-97,00,1610612741,CHI,34.0,82,82,3109,920,...,0.833,113,369,482,352,140,44,166,156,2431
12,893,1997-98,00,1610612741,CHI,35.0,82,82,3181,881,...,0.784,130,345,475,283,141,45,185,151,2357
13,893,2001-02,00,1610612764,WAS,39.0,60,53,2089,551,...,0.790,50,289,339,310,85,26,162,119,1375
14,893,2002-03,00,1610612764,WAS,40.0,82,67,3031,679,...,0.821,71,426,497,311,123,39,173,171,1640